.varBarResponsive{
  background-color: #232323;
    width: 100%;
    margin: 0;
    padding: 0;
    opacity : 0.9;
}

.conNav{
    width: 100%;
  background-color: #232323;
}

.toolNav{
    width: 100%;
  background-color: #232323;
    opacity : 0.9;
}

.varBarResponsive a{
    text-decoration: none;
    color: #fff;
}